@{
    Layout = null;
    var idArea = Session["idArea"];
}

<!DOCTYPE HTML>

<html>
<head>

    @*<img src="~/Content/images/Logo-Default.png" height="100px" style="position:absolute;z-index:1;margin-top: 1%; margin-left: 5%;"/>*@
    @*<title>Brasil Refino</title>*@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/Content/assets/css/main.css" />
</head>
<body>

    <!-- Header -->
    <header id="header">
        <div class="inner">
            @*<img src="~/Content/images/Logo-Default.png" class="logo" />*@
            <a href="@Url.Action("Index","Panel")" class="logo"><strong></strong> BRASIL REFINO</a>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
            <nav id="nav">
                <a href="@Url.Action("Index","Equipamento",new { id = idArea})" class="  ">Voltar </a>
            </nav>
        </div>
    </header>

    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <header>
                <h1>Cadastrar Equipamento</h1>
            </header>

            <div class="flex text-center ">

                <form method="post" action="@Url.Action("Cadastrar","Equipamento",new { area = idArea})" style="width:500px;margin-bottom:1%">


                    @*<input style="margin-bottom: 1%;" type="text" name="reg" id="reg" value="" placeholder="reg">*@
                    <input style="margin-bottom: 1%;" type="text" name="tag" id="tag" value="" placeholder="tag">
                    <input style="margin-bottom: 1%;" type="text" name="descricao_equipamento" id="descricao_equipamento" value="" placeholder="descricaoEquipamento">
                    <select style="margin-bottom: 1%;" name="situacao" id="situacao">
                        <option value="">- situação -</option>
                        <option value="ATIVO">ATIVO</option>
                        <option value="FORA_DE_OPERACAO">FORA DE OPERACÃO</option>
                        <option value="EM_MONTAGEM">EM MONTAGEM</option>
                        <option value="DESATIVADA">DESATIVADA</option>
                    </select>
                    <select style="margin-bottom: 1%;" name="status_Doc" id="status_Doc">
                        <option value="">- status do documento -</option>
                        <option value="ATUALIZADO">ATUALIZADO</option>
                        <option value="PENDENTE">PENDENTE</option>
                    </select>
                    <textarea style="margin-bottom: 1%;" type="text" name="descricao" id="descricao" value="" placeholder="descricao"></textarea>
                    <button class="button" style="box-shadow:none">Cadastrar</button><br />
                    <a class="button" href="@Url.Action("Index","Equipamento",new { id = idArea})" style="box-shadow:none">Voltar</a>
                </form>
            </div>

            <footer></footer>
        </div>
    </section>

    <!-- Scripts -->
    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/js/skel.min.js"></script>
    <script src="~/Content/assets/js/util.js"></script>
    <script src="~/Content/assets/js/main.js"></script>

</body>
</html>