@model B_R.Models.Equipamento

@{
    ViewBag.titulo = "Comentario";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#datatableHUD").DataTable({
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "resultado não encontrado",
                "sEmptyTable": "Nenhum dado disponivel nesta tabla",
                "sInfo": "Mostrando registros de _START_ a _END_ de um total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros de 0 a 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
            },
            dom: "Blfrtip",
            buttons: [

            ],
            responsive: true
        });
    });


</script>

<a href="@Url.Action("CadastrarComentario","Equipamento",new { id = Model.Id})"  class="btn btn-app" style="width:100%">
    <i class="fa fa-edit"></i> Adicionar
</a>
<div>

    <table id="datatableHUD" class="hover" style="width:100%">
        <thead>
            <tr style="background-color:white">
                <th> Usuário</th>
                <th>Comentário</th>
                <th>Horário</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ComentariosEquipamento)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.user.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.horario)
                </td>
            </tr>

            }

        </tbody>
        <tfoot>

        </tfoot>
    </table>
</div>

<script>

</script>


